//|||||||||||||||||||||| ABSTRACT ||||||||||||||||||||||*/
@import './abstract/variables';

/*|||||||||||||||||||||| BASE ||||||||||||||||||||||*/
@import './base/typography';
@import './base/reset';

/*|||||||||||||||||||||| COMPONENTS ||||||||||||||||||||||*/
@import './components/banner';
@import './components/gallery';
@import './components/loading';
@import './components/dropdown';
@import './components/carousel';

/*|||||||||||||||||||||| PAGES ||||||||||||||||||||||*/
@import './pages/layout';
@import './pages/errorPage';
@import './pages/home';
@import './pages/about';
@import './pages/location';