/*====================== gallery ======================*/
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-between;
    padding: 56px 60px;
}
.gallery-card {
    position: relative;
    list-style: none;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    &__title {
        position: absolute;
        padding: 20px;
        bottom: 0;
        left: 0;
        color: #fff;
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
    }
}
/* FOR SMALL SCREEN */
@media screen and (max-width: $max-width-mobile) {
    .gallery {
        padding: 22px 0;
        row-gap: 20px;
    }
    .gallery-card {
        width: 100%;
        height: auto;
    }
}