/*====================== variables ======================*/
/*|||||||||||||||||||||| BASE ||||||||||||||||||||||*/
/*====================== typography ======================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*====================== reset ======================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* FOR SMALL SCREEN */
@media screen and (max-width: 650px) {
  body {
    margin: 0 20px;
  }
}
/*|||||||||||||||||||||| COMPONENTS ||||||||||||||||||||||*/
/*====================== banner ======================*/
.banner {
  position: relative;
  width: 100%;
  height: 223px;
  border-radius: 25px;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.banner h1 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
}

/* FOR SMALL SCREEN */
@media screen and (max-width: 650px) {
  .banner-home {
    height: 111px;
    border-radius: 10px;
  }
  .banner-home h1 {
    font-size: 24px;
    padding: 0 16px;
    justify-content: flex-start;
  }
}
/*====================== gallery ======================*/
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: space-between;
  padding: 56px 60px;
}

.gallery-card {
  position: relative;
  list-style: none;
  width: 340px;
  height: 340px;
  border-radius: 10px;
}
.gallery-card:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.gallery-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.gallery-card__title {
  position: absolute;
  padding: 20px;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

/* FOR  BIG SCREEN */
@media screen and (min-width: 650px) {
  .gallery {
    background-color: #F6F6F6;
    border-radius: 25px;
  }
}
/* FOR SMALL SCREEN */
@media screen and (max-width: 650px) {
  .gallery {
    padding: 22px 0;
    row-gap: 20px;
  }
  .gallery-card {
    width: 100%;
    height: auto;
  }
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*====================== dropdown ======================*/
.dropdown {
  display: grid;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  border-radius: 5px;
}
.dropdown input {
  display: none;
}
.dropdown input:checked ~ label::after {
  transform: rotate(-135deg);
  margin-top: -3px;
}
.dropdown input:checked ~ p {
  opacity: 1;
  padding: 36px 27px 19px 18px;
  height: auto;
}
.dropdown label {
  position: relative;
  display: grid;
  background-color: #FF6060;
  align-items: center;
  padding-left: 18px;
  width: 100%;
  height: 47px;
  color: #fff;
  font-weight: 500;
  border-radius: inherit;
  cursor: pointer;
}
.dropdown label::after {
  position: absolute;
  right: 33px;
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  transition: all 0.5s;
  border: 3px solid #fff;
  border-bottom-width: 0;
  border-right-width: 0;
  margin-top: 3px;
}
.dropdown p {
  color: #FF6060;
  background: #F6F6F6;
  font-weight: 400;
  height: 0;
  opacity: 0;
  transition: all 0.25s;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

/* FOR SMALL SCREEN */
@media screen and (max-width: 650px) {
  .dropdown :checked ~ p {
    padding: 23.08px 6.91px 52.58px 11.51px !important;
  }
  .dropdown label {
    font-size: 13px;
  }
  .dropdown label::after {
    width: 9px;
    height: 9px;
  }
  .dropdown p {
    font-size: 12px;
  }
}
/*|||||||||||||||||||||| PAGES ||||||||||||||||||||||*/
/*====================== layout ======================*/
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
  margin-top: 40px;
}
.header-logo {
  height: 62.26px;
}
.header-nav ul {
  display: flex;
  gap: 57px;
}
.header-nav li {
  list-style: none;
  color: #FF6060;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.header-nav li.active {
  text-decoration: underline;
}

/* FOOTER */
.footer {
  height: 209px;
  background-color: #000;
  margin: 0 -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28.56px;
}
.footer-logo {
  height: 39.44px;
}
.footer-text {
  font-size: 24px;
  color: #fff;
}

/* FOR SMALL SCREEN */
@media screen and (max-width: 650px) {
  .header {
    height: 47px;
    margin-top: 20px;
  }
  .header-logo {
    height: 43.03px;
  }
  .header-nav ul {
    gap: 10px;
  }
  .header-nav li {
    font-size: 12px;
  }
  .footer {
    margin: 0 -20px;
  }
  .footer-text {
    font-size: 12px;
  }
}
/*====================== error page ======================*/
.error-page {
  color: #FF6060;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 169px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
}
.error-page h1 {
  font-weight: 700;
  font-size: 288px;
  gap: 66px;
}
.error-page p {
  font-size: 36px;
  text-align: center;
}
.error-page a {
  font-size: 18px;
  margin-top: 116px;
  text-decoration: underline;
}

/* FOR SMALL SCREEN */
@media screen and (max-width: 650px) {
  .error-page {
    margin-top: 195px;
    gap: 11px;
  }
  .error-page h1 {
    font-size: 96px;
  }
  .error-page p {
    font-size: 18px;
  }
  .error-page a {
    margin-top: 122px;
    font-size: 14px;
  }
}
/*====================== home ======================*/
/* FOR BIG SCREEN */
@media screen and (min-width: 650px) {
  .home {
    display: grid;
    gap: 43px;
    margin: 63px 0;
  }
}
/* FOR SMALL SCREEN */
@media screen and (max-width: 650px) {
  .home {
    margin: 16px 0;
  }
}
/*====================== about ======================*/
.about {
  display: grid;
  gap: 31px;
  margin: 44px 0;
}
.about-container {
  display: grid;
  gap: inherit;
  margin: 0 108px;
}

/* FOR SMALL SCREEN */
@media screen and (max-width: 650px) {
  .about {
    margin: 17px 0;
  }
  .about-container {
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
